/node_modules
/public/css
/public/fonts
/public/images
/public/js
/public/uploads/*
/public/.well-known
/public/.user.ini
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.idea
.vscode
.vagrant
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
test.js
test.php
composer.lock
package-lock.json
