
// Fonts
@import "fonts";

// Variables
@import "variables";

// Loading
@import "loading";

body {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

div, span {
    outline: 0;
}

em, i {
    font-style: normal;
}

dd, dl, dt, li, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
